NEXT_PUBLIC_APP_NAME="Photon Cloud"
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000

NEXT_PUBLIC_EMAIL_SUPPORT_PRIVACY=privacy@photon.com
NEXT_PUBLIC_EMAIL_SUPPORT_LEGAL=legal@photon.com

# Auth
NEXT_PUBLIC_AUTH_TYPE=session
