# /photon/.env.example
COMPOSE_PROJECT_NAME=photon

# Ports
FORWARD_APP_PORT=8000
FORWARD_SSE_PORT=8080
FORWARD_DB_PORT=3306
FORWARD_REDIS_PORT=6379
FORWARD_MAILPIT_PORT=8025
FORWARD_MINIO_PORT=9000
FORWARD_MINIO_CONSOLE_PORT=9001

# Mysql
DB_ROOT_PASSWORD=root12345678

# Redis
REDIS_HOST=redis
REDIS_PASSWORD=12345678
REDIS_PORT=6379
REDIS_PREFIX=photon

# Minio
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio12345

# SSE
SSE_PORT=8080
SSE_ALLOWED_ORIGINS=http://localhost:3000